.comunidades {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.comunidades-cards {
  width: 75%;
  display: flex;
  justify-content: space-between; /* Adjust spacing between cards */
}