/* Carousel.css */

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .buttons-container button {
    margin-bottom: 40px;
  }
  