.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004225;
    color: white;
    padding: 20px;
    height: 15px; 
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  .header .logo img {
    height: 40px; 
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  

  .navigation a {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}
  

  .navigation a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
  }
  
  
  @media (max-width: 768px) {
    .navigation {
      display: flex;
      flex-direction: column;
    }
  }
  