.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004225;
    color: white;
    padding: 20px;
    height: 15px; 
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  .header .logo img {
    height: 40px; 
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  

  .navigation a {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}
  

  .navigation a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
  }
  
  
  .user-menu {
    position: relative;
    display: inline-block;
    width: fit-content;
  }
  
  .user-name {
    cursor: pointer;
    padding: 8px 70px;
    font-size: large;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-menu button {
    border: none;
    background: none;
    color: #004225;
    padding: 12px 16px;
    font-size: medium;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  
  .dropdown-menu button:hover {
    background-color: #ddd;
  }
  
  .user-menu {
    position: relative;
  }
  
  .user-menu:hover .dropdown-menu {
    display: block;
  }
  
  .user-menu button {
    display: block;
    margin: 0 auto;
  } 
  
  @media (max-width: 768px) {
    .navigation {
      display: flex;
      flex-direction: column;
    }
  }
  