/* HorizontalCard.css */

.card {
    display: flex; /* Use flexbox to arrange the image and content */
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-height: 300px;
    margin-bottom: 50px; /* Space below each card */
    margin-top: 50px; /* Space above each card */
  }
  
  .card-image {
    width: 20%; /* Adjust the width of the image as needed */
    height: auto;
    padding: 5px;
  }
  
  .card-content {
    flex: 1; /* The content should take up remaining space */
    padding: 16px;
  }
  
  .card-title {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .card-description {
    margin: 8px 0;
    font-size: 1rem;
  }
  